.box1 .box2 {
  color: red;
}
.box1 > .box3 {
  color: red;
}
.box1:hover {
  color: orange;
}
.p1,
.p2 {
  width: 50px;
  height: 50px;
}
.p2 {
  color: red;
}
.p3 {
  width: 50px;
  height: 50px;
}
.p5 {
  width: 400px;
  height: 500px;
  background-color: #bfa;
}
div {
  width: 400px;
  height: 300px;
}
